{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<table class="index table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Stocks</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Value</th>
            <th scope="col">Transaction</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td>
            <td>{{ usd(stock.price) }}</td>
            <td>{{ usd(stock.value) }}</td>
            <td>
                <form id="transaction" action="/" method="post">
                    <div class="input-group justify-content-center">
                        <input type="number" min="1" name="shares" placeholder="Shares">
                        <input type="hidden" name="symbol" value="{{ stock.symbol }}">
                        <div class="input-group-append">
                            <input class="btn btn-outline-secondary btn-sm" type="submit" name="buy" value="Buy">
                            <input class="btn btn-outline-secondary btn-sm" type="submit" name="sell" value="Sell">
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p class="text-end"><b>Cash: </b>{{ usd(cash) }} <b>Total: </b>{{ usd(total) }}</p>
{% endblock %}