{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form id="register" action="/register" method="post">
    <div class="mb-3">
        <label>Username
            <input autocomplete="off" class="form-control mx-auto w-auto" name="username" type="text"
                placeholder="Username" required>
        </label>
    </div>
    <div class="mb-3">
        <label>Password
            <input autocomplete="off" class="form-control mx-auto w-auto" name="password" type="password"
                placeholder="Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                required>
        </label>
    </div>
    <div class="mb-3">
        <label>Confirmation
            <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" type="password"
                placeholder="Confirmation"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                required>
        </label>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}