{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
<form id="sell" action="/sell" method="post">
    <div class="mb-3">
        <label>Symbol
            <select class="form-select" aria-label="Default select example" name="symbol">
                <option disabled selected>Stock</option>
                {% for symbol in symbols%}
                <option>{{ symbol.symbol}}</option>
                {% endfor %}
            </select>
        </label>
        <div class="mb-3">
            <label>Shares
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares"
                    placeholder="Shares" type="number" min="1" required>
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>
{% endblock %}